@import url('https://fonts.cdnfonts.com/css/avenir-next-cyr');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');

/* general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 2rem;
  color: #5c5b5b;
  }

main {
  width: 80%;
  margin: 5rem auto;
}

section {
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 400;
}

.button {
  padding: 2rem 7rem;
  background-color: #6b7c8c;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  color: #ffffff;
  font-size: inherit;
  font-weight: 700;
  cursor: pointer;
}

button {
  display: block;
  margin: auto;
}

.button:hover {
  background-color: #606f7e;  
}

.button:active {
  background-color: #556370;
}

button:focus {
  outline: 0;
}
/* end general styles */

/* header */
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #6b7c8c;
  font-family: 'Archivo', sans-serif;
  color: #ffffff;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.nav-logo {
  margin: 0 auto 0 2rem;
  height: 4rem;
}

nav > ul {
  display: flex;
  list-style-type: none;
}

nav > ul a {
  display: block;
  padding: 2rem 3rem;
}

nav > ul a:hover {
  background-color: #404a54;
}

.header-logo {
  display: block;
  margin: 6rem auto 0;
  height: 12rem;
}
/* end header */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3rem 0;
  background-color: #6b7c8c;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
}

.social-links {
  margin-top: 2rem;
}

.social-links > a {
  margin: 0 2rem;
}

.social-links > a > img {
  height: 3rem;
}

.footer-logo {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translate(0, -50%);
  height: 6rem;
}
/* end footer */

/* media 768 */
@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }

  main {
    width: 90%;
  }
}
/* end media 768 */

/* media 576 */
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  
  nav > ul {
    flex-direction: column;
  }

  .header-logo {
    margin-top: 15rem;
  }
}
/* end media 576 */